@media screen and (min-width: 1300px) and (max-width:1500px){
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #f5f5f5; 
        font-family: Arial, sans-serif;
        color: #333333; 
        cursor: pointer;
        background-image: url("—Pngtree—business gradient geometric gray square_1457637.png");
    }
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .login {
        height: 80vh;
        width: 70%;
        border: 0;
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .img {
        height: 97%;
        width: 49%;
        margin-top: 7px; 
        border-radius: 10px;
        background-image: url("view-luxurious-villa-with-modern-architectural-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        animation-delay: 3.5s;
    }
    .animate__zoomOutCustom {
        animation-delay: 4s;
    }    
    #myImage {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        transition: all 2s ease; 
        display: none; 
    }
    .logindetail {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        background-color: Light green;
        animation-delay: 4s;
    }
    .headerlogo {
        height: 40px;
        width: 170px;
        position: absolute;
        left: 2%;
        top: 3%;
        animation-delay: 4s;
    }
    .adjust {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
        padding-left: 85px;
    }
    .point1 {
        font-size: 1.7rem;
        font-weight: bold;
        color: black;
        margin-left: 60px;
        line-height: 2px;
    }
    .pointsub {
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
        margin-left: 50px;
    }
    .point2 {
        font-size: 1.3rem;
        font-weight: bold;
        color: black;
        text-align: left;
    }
    .point3 {
        font-size: 1.3rem;
        font-weight: bold;
        color: black;
        text-align: left;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .email {
        height: 40px;
        width: 70%; 
        padding: 0 0 0 20px;
        border-width: .5px;
        border-radius: 7px;
        margin-bottom: 20px;
        color: green;
        margin-top: 10px;
        border-color: rgb(190, 190, 190);
    }
    .email:hover{
        border-color: green;
        box-shadow: 0px 0px 5px green;
        outline: none; 
        background-color: #f0f8ff; 
    }
    .email:focus {
        border-color: green; 
        background-color: #f0f8ff; 
        outline: none; 
    }
    .password {
        height: 40px;
        width: 70%; 
        padding: 0 0 0 20px;
        border: .5px solid #ccc; 
        border-radius: 7px;
        text-align: left; 
        transition: border-color 0.3s ease; 
    }
    .password:hover{
        box-shadow: 0px 0px 5px green;
    }
    .password:focus {
        border-color: green; 
        background-color: #f0f8ff; 
        outline: none; 
    }
    
    input::placeholder {
        text-align: left;
        padding: 0 10px;
    }
    input::-webkit-progress-value{
        text-align: center;
    }
    .remember {
        display: flex;
        align-items: center;
    
    }
    .check {
        height: 15px;
        width: 15px;
        border-radius: 5px;
        color: green;
        background-color: green;
    }
    .point4 {
        font-size: .8rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
        margin-left: 7px;
        text-align: left;
    }
    .signpage {
        position: fixed;
        top: 3%;
        left: 55%;
        animation-delay: 4s;
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .Signup {
        padding: 6px;
        color: green;
        border-color:rgb(156, 156, 156);;
        text-decoration: none;
        border-style: solid;
        border-radius: 30px;
        border-width: 1px;
    }
    .Signup:hover{
        border-color: green;
    }
    .loginbutton {
        height: 40px;
        width: 75%;
        border-radius: 30px;
        border: 0;
        justify-content: center;
        background-color: rgb(0, 132, 0); 
        color: #ffffff; 
        transition: background-color 0.3s;
    }
    .loginbutton:hover {
        background-color: green; 
    }
    footer {
        position: absolute;
        bottom: 0;
        line-height: 25px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .footerpart1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .6rem;
        margin-bottom: 30px;
    }
    .footerimg {
        height: 20px;
        width: 20px;
    }
    .footerpoint1 {
        margin-left: 10px;
        font-size: .5rem;
    }
    .footerpoint2 {
        margin-left: 15px;
        font-size: .5rem;
    
    }
    .footerpart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 20%;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .footerpoint3 {
        font-size: .5rem;
    }
    .footerpoint4 {
        font-size: .5rem;
        color: green;
        margin-left: 10px;
    }
    .forgetoptions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .onlineid {
        margin-right: 20px;
        color: green;
        font-size: .6rem;
    }
    .Forgetpassword {
        color: green;
        font-size: .6rem;
        margin-right: 100px;
    }
    .img2 {
        height: 80vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
       
    }
    .img2sub {
        height: 100%;
        width: 70%;
        margin-left: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
    }
}
@media screen and (min-width:1000px) and (max-width:1300px){
    .login {
        height: 80vh;
        width: 90%;
        border: 0;
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
@media screen and (min-width:700px) and (max-width:1000px){
    .login {
        height: 80vh;
        width: 95%;
        border: 0;
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signpage {
        position: fixed;
        top: 2%;
        left: 44%;
        animation-delay: 4s;
        font-size: .6rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .headerlogo {
        height: 25px;
        width: 76px;
        position: absolute;
        left: 3%;
        top: 4.5%;
        animation-delay: 4s;
    }
    .point1 {
        font-size: 1.7rem;
        font-weight: bold;
        color: black;
        margin-left: 63px;
        line-height: 2px;
    }
    .pointsub {
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
        margin-left: 50px;
    }
    .adjust {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
        padding-left: 0px;
    }
    .email {
        height: 40px;
        width: 70%;
        padding: 0 0 0 20px;
        border-width: .5px;
        border-radius: 7px;
        margin-bottom: 20px;
        margin-left: 35px;
        color: green;
        margin-top: 10px;
        border-color: rgb(190, 190, 190);
    }
    .loginbutton {
        height: 40px;
        width: 75%;
        border-radius: 30px;
        border: 0;
        margin-left: 35px;
        justify-content: center;
        background-color: rgb(0, 132, 0);
        color: #ffffff;
        transition: background-color 0.3s;
    }
    .password {
        height: 40px;
        width: 70%;
        padding: 0 0 0 20px;
        border: .5px solid #ccc;
        border-radius: 7px;
        text-align: left;
        margin-left: 35px;
        transition: border-color 0.3s ease;
    }
    .remember {
        display: flex;
        align-items: center;
        margin-left: 35px;
    }
    .footerpart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 9%;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .Forgetpassword {
        color: green;
        font-size: .6rem;
        margin-right: 0px;
    }
}
@media screen and (min-width:400px)and (max-width:700px) {
    .img {
        height: 97%;
        width: 49%;
        margin-top: 7px;
        display: none;
        border-radius: 10px;
        background-image: url(view-luxurious-villa-with-modern-architectural-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        animation-delay: 3.5s;
    }
    .logindetail {
        height: 100%;
        width: 105%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        background-color: Light green;
        animation-delay: 4s;
    }
    .login {
        height: 80vh;
        width: 100%;
        border: 0;
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signpage {
        position: fixed;
        top: 3%;
        left: 49%;
        animation-delay: 4s;
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .headerlogo {
        height: 30px;
        width: 140px;
        position: absolute;
        left: 2%;
        top: 4.5%;
        animation-delay: 4s;
    }
    .adjust {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
        padding-left: 0px;
    }
    .point1 {
        font-size: 1.7rem;
        font-weight: bold;
        color: black;
        margin-left: 100px;
        line-height: 2px;
    }
    .pointsub {
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
        margin-left: 90px;
    }
    .email {
        height: 40px;
        width: 70%;
        padding: 0 0 0 20px;
        border-width: .5px;
        border-radius: 7px;
        margin-bottom: 20px;
        color: green;
        margin-left: 46px;
        margin-top: 10px;
        border-color: rgb(190, 190, 190);
    }
    .password {
        height: 40px;
        width: 70%;
        margin-left: 46px;
        padding: 0 0 0 20px;
        border: .5px solid #ccc;
        border-radius: 7px;
        text-align: left;
        transition: border-color 0.3s ease;
    }
    .remember {
        display: flex;
        align-items: center;
        margin-left: 46px;
    }
    .loginbutton {
        height: 40px;
        width: 75%;
        border-radius: 30px;
        border: 0;
        margin-left: 46px;
        justify-content: center;
        background-color: rgb(0, 132, 0);
        color: #ffffff;
        transition: background-color 0.3s;
    }
    .Forgetpassword {
        color: green;
        font-size: .6rem;
        margin-right: 0px;
    }
    .footerpart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 15%;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
}
@media screen and (min-width:320px)and (max-width:400px) {
    .img {
        height: 97%;
        width: 49%;
        margin-top: 7px;
        display: none;
        border-radius: 10px;
        background-image: url(view-luxurious-villa-with-modern-architectural-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        animation-delay: 3.5s;
    }
    .logindetail {
        height: 100%;
        width: 105%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        background-color: Light green;
        animation-delay: 4s;
    }
    .login {
        height: 80vh;
        width: 100%;
        border: 0;
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signpage {
        position: fixed;
        top: 3%;
        left: 45%;
        animation-delay: 4s;
        font-size: .6rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
    .headerlogo {
        height: 25px;
        width: 85px;
        position: absolute;
        left: 2%;
        top: 5.5%;
        animation-delay: 4s;
    }
    .adjust {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
        padding-left: 0px;
    }
    .point1 {
        font-size: 1.7rem;
        font-weight: bold;
        color: black;
        margin-left: 78px;
        line-height: 2px;
    }
    .pointsub {
        font-size: .7rem;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
        margin-left: 65px;
    }
    .email {
        height: 40px;
        width: 70%;
        padding: 0 0 0 20px;
        border-width: .5px;
        border-radius: 7px;
        margin-bottom: 20px;
        color: green;
        margin-left: 42px;
        margin-top: 10px;
        border-color: rgb(190, 190, 190);
    }
    .password {
        height: 40px;
        width: 70%;
        margin-left: 42px;
        padding: 0 0 0 20px;
        border: .5px solid #ccc;
        border-radius: 7px;
        text-align: left;
        transition: border-color 0.3s ease;
    }
    .remember {
        display: flex;
        align-items: center;
        margin-left: 42px;
    }
    .loginbutton {
        height: 40px;
        width: 75%;
        border-radius: 30px;
        border: 0;
        margin-left: 42px;
        justify-content: center;
        background-color: rgb(0, 132, 0);
        color: #ffffff;
        transition: background-color 0.3s;
    }
    .Forgetpassword {
        color: green;
        font-size: .6rem;
        margin-right: 0px;
    }
    .footerpart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 8%;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 100, 100);
    }
}
