.profileheader {
    height: 300px;
    border-style: solid;
    display: flex;
    align-items: center;
    display: none;
}
.profileimg {
    height: 150px;
    width: 150px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 50%;
}
i#profileicon.fa-regular.fa-user::before {
    font-size: 4rem;
    color: rgb(104, 104, 104);
}
.profiletext {
    color: white;
}
.profilename{
    font-size: 3rem;
    color: white;
}
.profilename2{
    display: flex;
    color: white;
}